[flake8]

max-line-length = 119
# but keep line length to 88 in general
# - use "black" to auto-format

# D400 and D205 are because we sometimes split the first line of the docstring
# F821 is temporary, until code is complete and stuff like ObjectDisposedException is gone
ignore =
    E203,
    W503,
    D100,
    D101,
    D102,
    D105,
    D106,
    D107,
    D400,
    D205,
    D415,
    F821

# Config for flake8-docstrings
docstring-convention = google

# Config for flake8-import-order
import-order-style = smarkets
