name: Python package

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - run: poetry install
      - run: poetry run pytest
      - run: poetry run pytest -m cloud --cloud-api-key "${{ secrets.CLOUD_API_KEY }}"
      - run: poetry run pytest -m enterprise --enterprise-api-key "${{ secrets.ENTERPRISE_API_KEY }}"
      - run: poetry run poe check
      - run: poetry run poe lint
      - run: poetry run poe types
